.title_page{
    text-align: left;
    font-size: 3rem;
    margin: 2rem;
    margin-left: 10rem;
    font-weight: 500;
    
}

.container_Box{
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    margin: 4rem;
}